html {
  height: 100%;
}

body {
  height: 100%;
  background: $bodyBgColor;
  color: $mainColor;
  font: 16px/1.5em $mainFont;
  min-width: 480px;
}

a {
  color: $linkColor;
  text-decoration: underline;
  @include transition-duration(.3s);
  &:hover {
    text-decoration: none;
    color: $linkColor;
  }
  &:focus{
    outline: none;
    color: $linkColor;
  }
  &:visited {
    color: $linkColor;
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
}

h1 {
  font: normal 1.5em/1.5em $mainFont;
  margin-bottom: 30px;
  span {
    color: $greenColor;
  }
}

h2 {
  font: normal 1.375em/1.5em $mainFont;
}

h3 {
  font: 600 1.125em/1.5em $mainFont;
}

h4 {
  font: 600 1em/1.5em $mainFont;
}

h5 {
  font: 600 .875em/1.5em $mainFont;
}

h6 {
  font: 600 .75em/1.5em $mainFont;
}

button::-moz-focus-inner,
img::-moz-focus-inner,
a::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}

p {
  margin-bottom: 15px;
}

img {
  vertical-align: top;
}

input[type="submit"],
select,
button {
  @include box-sizing(border-box);
  &:active,
  &:focus {
    outline: 0 none;
  }
}

input[type='button'],
input[type='submit'],
button {
  &:active,
  &:focus {
    outline: 0 none;
  }
}

time {
  font-size: 14px;
}

hr {
  margin: 20px 0;
  border-color: $lightGreyColor;
}

table {
  border-collapse: inherit;
  border: 1px solid $greyColor;
  @include border-radius(4px);
  width: 100%;
  background: $whiteBgColor;
  th {
      background: $bodyBgColor;
      padding: 12px 20px;
      font: 600 1.125em/1.5em $mainFont;
      border-bottom: 1px solid $greyColor;
      border-left: 1px solid $greyColor;
      &:first-child {
        border-left: none;
      }
  }
  td {
    padding: 7px 20px 8px;
      @media (min-width: 768px) and (max-width: 1023px){
        padding: 7px 10px 8px;
      }
  }
  tr {
    &:nth-child(odd) {
      td {
        background: $lightGreyBgColor;
      }
    }
    &:hover {
      td {
        background: $greenPakeBgColor;
      }
    }
    &:first-child {
      th, td {
        &:first-child {
          border-top-left-radius: 4px;
          -webkit-border-top-left-radius: 4px;
        }
        &:last-child {
          border-top-right-radius: 4px;
          -webkit-border-top-right-radius: 4px;
        }
      }
    }
    &:last-child {
      td {
        &:first-child {
          border-bottom-left-radius: 4px;
          -webkit-border-bottom-left-radius: 4px;
        }
        &:last-child {
          border-bottom-right-radius: 4px;
          -webkit-border-bottom-right-radius: 4px;
        }
      }
    }
  }
}

.m-clearfix {
  @extend %clr;
}

.m-oh {
  overflow: hidden;
}

.m-fl {
  float: left;
}

.m-fr {
  float: right;
}

.b-ta-center {
  text-align: center;
}

.b-ta-right {
  text-align: right;
}

.wrap-inline-block {
  @extend %wrapper-inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    vertical-align: middle;
  }
}




