/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, c:\Program Files (x86)\Prepros\gems\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:\Program Files (x86)\Prepros\gems\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:\Program Files (x86)\Prepros\gems\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:\Program Files (x86)\Prepros\gems\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:\Program Files (x86)\Prepros\gems\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:\Program Files (x86)\Prepros\gems\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:\Program Files (x86)\Prepros\gems\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:\Program Files (x86)\Prepros\gems\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
a img {
  border: none;
}

/* line 116, c:\Program Files (x86)\Prepros\gems\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* 
---------Variables--------- */
/* 
---------Colors--------- */
/* 
---------Mixins--------- */
/* line 2, ../scss/_main.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../scss/_main.scss */
html {
  height: 100%;
}

/* line 11, ../scss/_main.scss */
html,
body {
  font: 16px/1.2 "open_sansregular";
  height: 100%;
}

/* 
----------Fonts---------- */
@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/opensans-bold-webfont.eot");
  src: url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/opensans-light-webfont.eot");
  src: url("../fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans-light-webfont.woff") format("woff"), url("../fonts/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/opensans-semibold-webfont.eot");
  src: url("../fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/opensans-semibold-webfont.woff") format("woff"), url("../fonts/opensans-semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* 
----------End Fonts---------- */
/* 
----------Tipography---------- */
/* line 62, ../scss/_main.scss */
h1 {
  font: 50px/1.2 'open_sanssemibold', sans-serif;
  color: #fff;
  margin-top: 20px 0 30px;
}
/* line 66, ../scss/_main.scss */
h1 small {
  color: #50b75e;
  display: block;
  font-size: 0.800em;
  margin: 10px 0;
}

/* line 73, ../scss/_main.scss */
h2,
.section-title,
.contacts h3 {
  font: 30px/1.2 'open_sansbold', sans-serif;
  text-align: center;
  position: relative;
  margin: 10px 0 55px;
  text-transform: uppercase;
}
/* line 80, ../scss/_main.scss */
h2:before,
.section-title:before,
.contacts h3:before {
  position: absolute;
  content: '';
  bottom: -22px;
  width: 70px;
  height: 4px;
  left: 50%;
  margin-left: -35px;
  background: #50b75e;
}
/* line 90, ../scss/_main.scss */
h2.red:before,
.section-title.red:before,
.contacts h3.red:before {
  background: #e6230a;
}

/* line 94, ../scss/_main.scss */
h3 {
  font: 26px/1.2 'open_sansbold', sans-serif;
  margin-bottom: 15px;
}

/* line 98, ../scss/_main.scss */
h4 {
  font: 22px/1.2 'open_sansbold', sans-serif;
}

/* line 101, ../scss/_main.scss */
h5 {
  font: 16px/1.2 'open_sanssemibold', sans-serif;
  margin-bottom: 5px;
}

/* line 109, ../scss/_main.scss */
a {
  text-decoration: none;
}

/* line 7, ../scss/_mixins.scss */
img:focus, img:active, img:active:focus, img:link, img:hover, a:focus, a:active, a:active:focus, a:link, a:hover, .btn:focus, .btn:active, .btn:active:focus, .btn:link, .btn:hover, input:focus, input:active, input:active:focus, input:link, input:hover, select:focus, select:active, select:active:focus, select:link, select:hover, button:focus, button:active, button:active:focus, button:link, button:hover, button span:focus, button span:active, button span:active:focus, button span:link, button span:hover {
  outline: none;
}

/* line 115, ../scss/_main.scss */
button {
  cursor: pointer;
}
/* line 117, ../scss/_main.scss */
button::-moz-focus-inner {
  border: none;
}

/* 
----------End Tipography---------- */
/* line 123, ../scss/_main.scss */
.btn {
  border: 2px solid #e6230a;
  color: #e6230a;
  padding: 8px 35px;
  background: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  cursor: pointer;
  font: 14px/1.2 'open_sanssemibold';
  text-transform: uppercase;
}
/* line 45, ../scss/_mixins.scss */
.btn:hover {
  color: #f7341b;
  border-color: #f7341b;
}

/* line 130, ../scss/_main.scss */
.ovh {
  overflow: hidden;
}

/* 
----------Grid---------- */
/* 
----------End Grid---------- */
/* 
----------Layout---------- */
/* line 141, ../scss/_main.scss */
.wrapper {
  height: 100%;
  min-height: 100%;
  height: auto !important;
  min-width: 320px;
}

/* line 147, ../scss/_main.scss */
main {
  padding: 0 0 60px;
}

/* line 150, ../scss/_main.scss */
.footer {
  height: 60px;
  margin-top: -60px;
}

/* line 154, ../scss/_main.scss */
.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

/* line 159, ../scss/_main.scss */
.clearfix:before, .row:before, .about:before, .clearfix:after, .row:after, .about:after {
  content: '';
  display: table;
  clear: both;
}

/* line 166, ../scss/_main.scss */
.row {
  margin: 0 -20px;
}

/* line 170, ../scss/_main.scss */
.col3 {
  width: 33.333%;
  float: left;
  padding: 0 20px;
}

/* line 175, ../scss/_main.scss */
.col2, .about .about-item {
  width: 50%;
  padding: 0 20px;
  float: left;
}

/* line 180, ../scss/_main.scss */
section {
  padding: 30px 0 40px;
  z-index: 1;
}

/* 
----------End Layout---------- */
/* 
----------Header---------- */
/* line 190, ../scss/_main.scss */
.header {
  background: url("../images/bg.jpg") fixed center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #fff;
  text-align: center;
  position: relative;
}
/* line 196, ../scss/_main.scss */
.header .header-container {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 50px 0 50px;
  left: 0;
  right: 0;
}
/* line 205, ../scss/_main.scss */
.header .header-container .header-content {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
/* line 211, ../scss/_main.scss */
.header .logo {
  float: left;
  margin-left: 20px;
  padding: 0 30px 0 30px;
  background: #162a43;
  position: relative;
}
/* line 217, ../scss/_main.scss */
.header .logo:after {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 51px solid #162a43;
  border-right: 19px solid transparent;
  content: "";
  display: block;
  top: 0;
  right: -19px;
}
/* line 229, ../scss/_main.scss */
.header .logo a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  padding: 18px 0;
  width: 60px;
  height: 51px;
  display: block;
  text-transform: uppercase;
  background: url("../images/logo.png") center center no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  background-size: 100% auto;
}
/* line 242, ../scss/_main.scss */
.header .main-nav {
  position: relative;
  width: 100%;
  padding: 10px 0;
  min-width: 320px;
  z-index: 1010;
  overflow: hidden;
  font: 14px/1.2 'open_sansbold', sans-serif;
}
/* line 250, ../scss/_main.scss */
.header .main-nav .container {
  position: relative;
}
/* line 253, ../scss/_main.scss */
.header .main-nav .ovh {
  text-align: right;
  padding-right: 20px;
}
/* line 257, ../scss/_main.scss */
.header .main-nav .nav {
  position: relative;
  display: inline-block;
  background: #162a43;
  padding: 7px 10px;
}
/* line 262, ../scss/_main.scss */
.header .main-nav .nav:before {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 51px solid #162a43;
  border-left: 18px solid transparent;
  content: "";
  display: block;
  top: 0;
  left: -18px;
}
/* line 275, ../scss/_main.scss */
.header .main-nav li {
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
/* line 280, ../scss/_main.scss */
.header .main-nav li:hover a, .header .main-nav li.active a {
  color: #e6230a;
}
/* line 284, ../scss/_main.scss */
.header .main-nav li a {
  color: #fff;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
/* line 293, ../scss/_main.scss */
.header .main-nav .toggle-nav {
  background: none;
  padding: 10px;
  float: right;
  border: none;
  height: 38px;
  display: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
}
/* line 301, ../scss/_main.scss */
.header .main-nav .toggle-nav span {
  display: block;
  width: 20px;
  height: 2px;
  margin: 3px 0;
  background: #fff;
}
/* line 309, ../scss/_main.scss */
.header .main-nav.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #162a43;
}
/* line 315, ../scss/_main.scss */
.header .main-nav.fixed-top ul {
  text-align: right;
  overflow: hidden;
}
/* line 319, ../scss/_main.scss */
.header .main-nav.fixed-top .ovh {
  padding-right: 0;
}
/* line 322, ../scss/_main.scss */
.header .main-nav.fixed-top .nav {
  padding-right: 0;
}
/* line 325, ../scss/_main.scss */
.header .main-nav.fixed-top .logo {
  opacity: 1;
  margin-left: 20px;
  padding-left: 0;
}
/* line 329, ../scss/_main.scss */
.header .main-nav.fixed-top .logo a {
  width: 73px;
  height: 51px;
}
/* line 336, ../scss/_main.scss */
.header .btn {
  margin-bottom: 40px;
}
/* line 339, ../scss/_main.scss */
.header .list-inline {
  list-style: none;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 50px;
}
/* line 26, ../scss/_variables.scss */
.header .list-inline li {
  display: inline-block;
  vertical-align: middle;
}
/* line 344, ../scss/_main.scss */
.header .list-inline li {
  margin: 0 10px;
  position: relative;
}
/* line 347, ../scss/_main.scss */
.header .list-inline li:after {
  position: absolute;
  content: '';
  top: 50%;
  margin-top: -3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  right: -14px;
  background: #50b75e;
}
/* line 358, ../scss/_main.scss */
.header .list-inline li:last-child:after {
  display: none;
}

/* 
----------End Header---------- */
/* 
----------Middle---------- */
/* line 369, ../scss/_main.scss */
.content {
  background: #f5f6f7;
  padding-top: 40px;
}

/* line 373, ../scss/_main.scss */
.about {
  background: #f5f6f7;
  padding: 40px 0;
  text-align: center;
  line-height: 1.3;
}
/* line 379, ../scss/_main.scss */
.about h2 + p {
  margin: 0 auto 30px;
  max-width: 1000px;
}
/* line 383, ../scss/_main.scss */
.about .container {
  padding: 0 40px;
}
/* line 388, ../scss/_main.scss */
.about .about-item li {
  margin-bottom: 20px;
}
/* line 390, ../scss/_main.scss */
.about .about-item li span {
  color: #50b75e;
}
/* line 395, ../scss/_main.scss */
.about .img-container {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 20px;
  display: table;
  width: 150px;
  height: 150px;
  text-align: center;
  -webkit-transition: opacity 0.7s linear 0.15s;
  -o-transition: opacity 0.7s linear 0.15s;
  transition: opacity 0.7s linear 0.15s;
}
/* line 404, ../scss/_main.scss */
.about .img-container .inner {
  display: table-cell;
  vertical-align: middle;
  width: 150px;
  height: 150px;
}
/* line 410, ../scss/_main.scss */
.about .img-container img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  display: block;
  margin: 0 auto;
  max-height: 150px;
  max-width: 150px;
}

/* line 419, ../scss/_main.scss */
.skills {
  position: relative;
}
/* line 421, ../scss/_main.scss */
.skills .container {
  margin-bottom: 20px;
}
/* line 424, ../scss/_main.scss */
.skills:before {
  position: absolute;
  content: "";
  width: 100%;
  top: 0;
  bottom: 0;
  background: url("../images/devices1.jpg") fixed center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  opacity: .2;
}
/* line 436, ../scss/_main.scss */
.skills ul li {
  display: block;
  position: relative;
  font: 17px/1.2 'open_sanssemibold';
  padding: 15px 20px;
}
/* line 441, ../scss/_main.scss */
.skills ul li:before {
  position: absolute;
  content: '';
  top: 50%;
  margin-top: -3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  left: 0;
  background: #f7341b;
}
/* line 452, ../scss/_main.scss */
.skills ul li:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  left: 20px;
  right: 20px;
  border-bottom: 1px dashed #f7341b;
}

/* 
----------Portfolio Section---------- */
/* line 467, ../scss/_main.scss */
.portfolio {
  padding: 40px 0;
}
/* line 469, ../scss/_main.scss */
.portfolio .works {
  font-size: 0;
  line-height: 0;
  text-align: center;
}
/* line 18, ../scss/_mixins.scss */
.portfolio .works > * {
  display: inline-block;
  vertical-align: top;
}
/* line 472, ../scss/_main.scss */
.portfolio .works > li {
  width: 50%;
  padding: 0 20px;
  font: 16px/1.2 "open_sansbold";
  margin-bottom: 40px;
}
/* line 478, ../scss/_main.scss */
.portfolio .works a {
  display: block;
  position: relative;
  overflow: hidden;
  color: #fff;
  z-index: 10;
}
/* line 484, ../scss/_main.scss */
.portfolio .works a img {
  width: 100%;
  display: block;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 489, ../scss/_main.scss */
.portfolio .works a:before {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: absolute;
  min-height: 200px;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  padding: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.65);
  opacity: 0;
  content: "";
  z-index: 11;
}
/* line 505, ../scss/_main.scss */
.portfolio .works a:hover img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
/* line 509, ../scss/_main.scss */
.portfolio .works a:hover:before {
  opacity: 1;
}
/* line 512, ../scss/_main.scss */
.portfolio .works a:hover .description {
  /* background: rgba(65,183,196,0.9); */
  opacity: 1;
}
/* line 518, ../scss/_main.scss */
.portfolio .works h3 {
  color: #fff;
  font: 40px/1.2 "open_sanssemibold";
  margin-bottom: 20px;
  position: relative;
}
/* line 523, ../scss/_main.scss */
.portfolio .works h3 span {
  font-size: .7em;
  display: block;
}
/* line 526, ../scss/_main.scss */
.portfolio .works h3:after {
  content: "";
  display: block;
  bottom: -7px;
  position: absolute;
  height: 2px;
  background: #fff;
  width: 50%;
  left: 50%;
  margin-left: -25%;
}
/* line 538, ../scss/_main.scss */
.portfolio .works .description {
  margin: auto;
  padding: 0 20px;
  text-align: center;
  height: 50%;
  max-height: 120px;
  min-height: 120px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 12;
  opacity: 0;
}
/* line 552, ../scss/_main.scss */
.portfolio .works .description i {
  width: 28px;
  height: 28px;
  display: inline-block;
  background: url("../images/icon.svg") center center no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
}

/* 
----------End Portfolio Section---------- */
/* 
----------Contacts Section---------- */
/* line 569, ../scss/_main.scss */
.contacts {
  background: url("../images/contacts_bg.jpg") fixed center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #fff;
  text-align: center;
}
/* line 574, ../scss/_main.scss */
.contacts h3 {
  font-size: 26px;
}
/* line 577, ../scss/_main.scss */
.contacts h3 + p {
  margin-bottom: 45px;
}
/* line 581, ../scss/_main.scss */
.contacts .row {
  margin-bottom: 20px;
}
/* line 584, ../scss/_main.scss */
.contacts .col3 {
  font: 18px/1.2 'open_sanssemibold';
}
/* line 586, ../scss/_main.scss */
.contacts .col3 i {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-bottom: 20px;
}
/* line 591, ../scss/_main.scss */
.contacts .col3 i img {
  width: 100%;
}

/* 
----------End Contacts Section---------- */
/* 
----------End Middle---------- */
/* 
----------Footer---------- */
/* line 604, ../scss/_main.scss */
.footer {
  text-align: center;
  background: #162a43;
  color: #fff;
  font-size: 14px;
  padding: 20px;
}
/* line 610, ../scss/_main.scss */
.footer p {
  padding: 2px 0;
}

/* 
---------- End Footer---------- */
/* 
----------Responsive---------- */
@media (min-width: 1280px) {
  /* line 621, ../scss/_main.scss */
  .header {
    height: 600px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  /* line 626, ../scss/_main.scss */
  .skills ul li {
    height: 71px;
    display: block;
    line-height: 41px;
    vertical-align: middle;
  }
  /* line 631, ../scss/_main.scss */
  .skills ul li span {
    display: inline-block;
    line-height: 1.2;
    vertical-align: middle;
  }

  /*.clearfix{
  	display: table;
  }
  .col2{
  	display: table-column;
  	li{
  		display: table-cell;
  		vertical-align: middle;
  	}
  }*/
}
@media (max-width: 799px) {
  /* line 651, ../scss/_main.scss */
  .portfolio .works .description {
    min-height: 100px;
  }
  /* line 654, ../scss/_main.scss */
  .portfolio .works h3 {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  /* line 661, ../scss/_main.scss */
  h1 {
    font-size: 2.125em;
  }

  /* line 665, ../scss/_main.scss */
  .header .logo {
    padding-left: 0;
  }
  /* line 668, ../scss/_main.scss */
  .header .main-nav {
    overflow: visible;
  }
  /* line 670, ../scss/_main.scss */
  .header .main-nav .clearfix, .header .main-nav .row, .header .main-nav .about {
    margin: 0;
    background: #162a43;
  }
  /* line 674, ../scss/_main.scss */
  .header .main-nav.fixed-top {
    padding: 0;
  }
  /* line 676, ../scss/_main.scss */
  .header .main-nav.fixed-top .logo {
    margin-left: 0;
  }
  /* line 678, ../scss/_main.scss */
  .header .main-nav.fixed-top .logo a {
    height: 51px;
    width: 60px;
  }
  /* line 683, ../scss/_main.scss */
  .header .main-nav.fixed-top .nav {
    left: 0;
    right: 0;
  }
  /* line 688, ../scss/_main.scss */
  .header .main-nav .nav {
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    left: 20px;
    right: 20px;
    top: 51px;
    padding: 0;
    overflow: hidden;
    display: none;
  }
  /* line 697, ../scss/_main.scss */
  .header .main-nav .nav:before {
    display: none;
  }
  /* line 700, ../scss/_main.scss */
  .header .main-nav .nav ul {
    /* display: none; */
  }
  /* line 702, ../scss/_main.scss */
  .header .main-nav .nav ul.open {
    display: block;
  }
  /* line 707, ../scss/_main.scss */
  .header .main-nav li {
    display: block;
    border-bottom: 1px solid rgba(22, 42, 67, 0.3);
    padding: 0;
  }
  /* line 711, ../scss/_main.scss */
  .header .main-nav li a {
    color: #162a43;
    display: block;
    padding: 15px 20px;
  }
  /* line 717, ../scss/_main.scss */
  .header .main-nav .toggle-nav {
    display: block;
    margin: 6px -10px 6px 0;
  }
  /* line 722, ../scss/_main.scss */
  .header .header-container {
    padding: 70px 20px 40px;
  }

  /* line 727, ../scss/_main.scss */
  .skills .col2, .skills .about .about-item, .about .skills .about-item {
    float: none;
    width: 100%;
  }
  /* line 730, ../scss/_main.scss */
  .skills .col2 li, .skills .about .about-item li, .about .skills .about-item li {
    padding-right: 0;
  }
  /* line 732, ../scss/_main.scss */
  .skills .col2 li:after, .skills .about .about-item li:after, .about .skills .about-item li:after {
    right: 0;
  }

  /* line 739, ../scss/_main.scss */
  .portfolio .works {
    margin: 0 -20px;
  }
  /* line 741, ../scss/_main.scss */
  .portfolio .works li {
    width: 49.999%;
  }
  /* line 744, ../scss/_main.scss */
  .portfolio .works .description {
    min-height: 100px;
  }
  /* line 747, ../scss/_main.scss */
  .portfolio .works h3 {
    font-size: 30px;
  }

  /* line 752, ../scss/_main.scss */
  .contacts {
    overflow: hidden;
  }
  /* line 754, ../scss/_main.scss */
  .contacts .col3 {
    font-size: 14px;
  }
}
@media (max-width: 639px) {
  /* line 760, ../scss/_main.scss */
  h1 small {
    margin-top: 0;
  }

  /* line 765, ../scss/_main.scss */
  .header .list-inline {
    margin: 10px 0 20px;
  }
  /* line 768, ../scss/_main.scss */
  .header .btn {
    margin-bottom: 60px;
  }

  /* line 773, ../scss/_main.scss */
  .about .col2, .about .about-item {
    margin-bottom: 40px;
    float: none;
    width: 100%;
  }

  /* line 781, ../scss/_main.scss */
  .portfolio .works li {
    display: block;
    width: 100%;
  }
  /* line 785, ../scss/_main.scss */
  .portfolio .works .description {
    min-height: 100px;
  }
  /* line 788, ../scss/_main.scss */
  .portfolio .works h3 {
    font-size: 40px;
  }

  /* line 794, ../scss/_main.scss */
  .contacts .row {
    margin-bottom: 0;
  }
  /* line 797, ../scss/_main.scss */
  .contacts .col3 {
    width: 100%;
    float: none;
    width: 320px;
    margin: 0 auto 20px;
    font-size: 17px;
  }
  /* line 803, ../scss/_main.scss */
  .contacts .col3:last-child {
    margin-bottom: 0;
  }
  /* line 806, ../scss/_main.scss */
  .contacts .col3 i {
    margin: 0 15px 0 -40px;
    width: 26px;
    height: 26px;
    vertical-align: middle;
  }
  /* line 811, ../scss/_main.scss */
  .contacts .col3 i + p {
    display: inline-block;
    vertical-align: middle;
  }
}
@media (max-width: 479px) {
  /* line 821, ../scss/_main.scss */
  .header .list-inline {
    font-size: 0.813em;
  }
  /* line 824, ../scss/_main.scss */
  .header .btn {
    margin-bottom: 40px;
  }

  /* line 830, ../scss/_main.scss */
  .portfolio .works .description {
    min-height: 90px;
  }
  /* line 833, ../scss/_main.scss */
  .portfolio .works h3 {
    font-size: 30px;
  }

  /* line 838, ../scss/_main.scss */
  .contacts .col3 i {
    margin: 0 10px 0 -35px;
  }
}
@media (max-width: 767px) {
  /* line 844, ../scss/_main.scss */
  .header,
  .skills:before,
  .contacts {
    background-attachment: scroll;
  }
}
@media (min-height: 480px) {
  /* line 852, ../scss/_main.scss */
  .header {
    height: 480px;
  }
}
@media (min-height: 320px) {
  /* line 857, ../scss/_main.scss */
  .header {
    height: 320px;
  }
}
/* @media (max-width:1279px){} */
/* line 863, ../scss/_main.scss */
.cbalink {
  display: none;
}
