/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, c:\Program Files (x86)\Prepros\gems\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:\Program Files (x86)\Prepros\gems\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:\Program Files (x86)\Prepros\gems\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:\Program Files (x86)\Prepros\gems\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:\Program Files (x86)\Prepros\gems\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:\Program Files (x86)\Prepros\gems\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:\Program Files (x86)\Prepros\gems\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:\Program Files (x86)\Prepros\gems\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
a img {
  border: none;
}

/* line 116, c:\Program Files (x86)\Prepros\gems\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\reset\_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* 
---------Variables--------- */
/* 
---------Colors--------- */
/* 
---------Mixins--------- */
/* line 2, ../scss/_main.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../scss/_main.scss */
html {
  height: 100%;
}

/* line 11, ../scss/_main.scss */
html,
body {
  font: 16px/1.2 "open_sansregular";
  height: 100%;
}

/* 
----------Fonts---------- */
@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/opensans-bold-webfont.eot");
  src: url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/opensans-light-webfont.eot");
  src: url("../fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans-light-webfont.woff") format("woff"), url("../fonts/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/opensans-semibold-webfont.eot");
  src: url("../fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/opensans-semibold-webfont.woff") format("woff"), url("../fonts/opensans-semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* 
----------End Fonts---------- */
/* 
----------Tipography---------- */
/* line 62, ../scss/_main.scss */
h1 {
  font: 50px/1.2 'open_sansbold', sans-serif;
  color: #50b75e;
  margin-top: 20px 0 30px;
}
/* line 66, ../scss/_main.scss */
h1 small {
  color: #fff;
  display: block;
  font-size: 40px;
  margin: 10px 0;
}

/* line 73, ../scss/_main.scss */
h2,
.section-title,
.contacts h3 {
  font: 30px/1.2 'open_sansbold', sans-serif;
  text-align: center;
  position: relative;
  margin: 10px 0 55px;
  text-transform: uppercase;
}
/* line 80, ../scss/_main.scss */
h2:before,
.section-title:before,
.contacts h3:before {
  position: absolute;
  content: '';
  bottom: -22px;
  width: 70px;
  height: 4px;
  left: 50%;
  margin-left: -35px;
  background: #50b75e;
}
/* line 90, ../scss/_main.scss */
h2.red:before,
.section-title.red:before,
.contacts h3.red:before {
  background: #e6230a;
}

/* line 94, ../scss/_main.scss */
h3 {
  font: 26px/1.2 'open_sansbold', sans-serif;
  margin-bottom: 15px;
}

/* line 98, ../scss/_main.scss */
h4 {
  font: 22px/1.2 'open_sansbold', sans-serif;
}

/* line 101, ../scss/_main.scss */
h5 {
  font: 16px/1.2 'open_sanssemibold', sans-serif;
}

/* line 7, ../scss/_mixins.scss */
img:focus, img:active, img:hover, a:focus, a:active, a:hover, .btn:focus, .btn:active, .btn:hover, input:focus, input:active, input:hover, select:focus, select:active, select:hover {
  outline: none;
}

/* 
----------End Tipography---------- */
/* line 116, ../scss/_main.scss */
.btn {
  border: 2px solid #e6230a;
  color: #e6230a;
  padding: 8px 35px;
  background: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  cursor: pointer;
  font: 14px/1.2 'open_sanssemibold';
  text-transform: uppercase;
}
/* line 42, ../scss/_mixins.scss */
.btn:hover {
  color: #f7341b;
  border-color: #f7341b;
}

/* 
----------Grid---------- */
/* line 126, ../scss/_main.scss */
.clearfix:before, .row:before, .about:before, .clearfix:after, .row:after, .about:after {
  content: '';
  display: table;
  clear: both;
}

/* line 133, ../scss/_main.scss */
.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

/* line 138, ../scss/_main.scss */
.row {
  margin: 0 -20px;
}

/* line 142, ../scss/_main.scss */
.col3 {
  width: 33.333%;
  float: left;
  padding: 0 20px;
}

/* line 147, ../scss/_main.scss */
.col2, .about .about-item {
  width: 50%;
  padding: 0 20px;
  float: left;
}

/* 
----------End Grid---------- */
/* 
----------Layout---------- */
/* line 157, ../scss/_main.scss */
.wrapper {
  height: 100%;
  min-height: 100%;
  height: auto !important;
  min-width: 320px;
}

/* line 163, ../scss/_main.scss */
main {
  padding: 0 0 60px;
}

/* line 166, ../scss/_main.scss */
section {
  padding: 30px 0 40px;
  z-index: 1;
}

/* line 170, ../scss/_main.scss */
.footer {
  height: 60px;
  margin-top: -60px;
}

/* 
----------End Layout---------- */
/* 
----------Header---------- */
/* line 180, ../scss/_main.scss */
.header {
  background: url("../images/bg1.jpg") fixed center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #fff;
  text-align: center;
  position: relative;
}
/* line 186, ../scss/_main.scss */
.header .header-container {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 20px 0 50px;
  left: 0;
  right: 0;
}
/* line 195, ../scss/_main.scss */
.header .header-container .header-content {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
/* line 201, ../scss/_main.scss */
.header .logo {
  float: left;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  margin-left: -100%;
}
/* line 206, ../scss/_main.scss */
.header .logo a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 0;
  display: block;
}
/* line 214, ../scss/_main.scss */
.header .main-nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 50px;
  z-index: 1010;
  /* background: #fff; */
  width: 100%;
  font: 12px/1.2 'open_sanssemibold', sans-serif;
}
/* line 224, ../scss/_main.scss */
.header .main-nav ul {
  overflow: hidden;
  text-align: left;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 229, ../scss/_main.scss */
.header .main-nav li {
  padding: 15px 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  display: inline-block;
}
/* line 233, ../scss/_main.scss */
.header .main-nav li a {
  color: #fff;
  padding: 0 15px;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 238, ../scss/_main.scss */
.header .main-nav li a:hover {
  color: #50b75e;
}
/* line 243, ../scss/_main.scss */
.header .main-nav.fixed-top {
  position: fixed;
  top: 0;
  bottom: auto;
  background: #162a43;
}
/* line 248, ../scss/_main.scss */
.header .main-nav.fixed-top ul {
  text-align: right;
}
/* line 251, ../scss/_main.scss */
.header .main-nav.fixed-top .logo {
  opacity: 1;
  margin-left: 0;
}
/* line 260, ../scss/_main.scss */
.header .btn {
  margin-bottom: 40px;
}
/* line 263, ../scss/_main.scss */
.header .list-inline {
  list-style: none;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 50px;
}
/* line 26, ../scss/_variables.scss */
.header .list-inline li {
  display: inline-block;
  vertical-align: middle;
}
/* line 268, ../scss/_main.scss */
.header .list-inline li {
  margin: 0 10px;
  position: relative;
}
/* line 271, ../scss/_main.scss */
.header .list-inline li:after {
  position: absolute;
  content: '';
  top: 50%;
  margin-top: -3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  right: -14px;
  background: #50b75e;
}
/* line 282, ../scss/_main.scss */
.header .list-inline li:last-child:after {
  display: none;
}

/* 
----------End Header---------- */
/* 
----------Middle---------- */
/* line 293, ../scss/_main.scss */
.content {
  background: #f5f6f7;
  padding-top: 40px;
}

/* line 297, ../scss/_main.scss */
.about {
  background: #f5f6f7;
  padding: 40px 0;
  text-align: center;
}
/* line 304, ../scss/_main.scss */
.about .about-item li {
  margin-bottom: 10px;
}

/* line 309, ../scss/_main.scss */
.skills {
  position: relative;
}
/* line 311, ../scss/_main.scss */
.skills:before {
  position: absolute;
  content: "";
  width: 100%;
  top: 0;
  bottom: 0;
  background: url("../images/devices1.jpg") fixed center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  opacity: .2;
}
/* line 323, ../scss/_main.scss */
.skills ul li {
  display: block;
  position: relative;
  font: 17px/1.2 'open_sanssemibold';
  padding: 15px 20px;
}
/* line 328, ../scss/_main.scss */
.skills ul li:before {
  position: absolute;
  content: '';
  top: 50%;
  margin-top: -3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  left: 0;
  background: #f7341b;
}
/* line 339, ../scss/_main.scss */
.skills ul li:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  left: 20px;
  right: 20px;
  border-bottom: 1px dashed #f7341b;
}

/* 
----------Portfolio Section---------- */
/* line 354, ../scss/_main.scss */
.portfolio {
  padding: 40px 0;
}
/* line 356, ../scss/_main.scss */
.portfolio .works {
  font-size: 0;
  line-height: 0;
}
/* line 16, ../scss/_mixins.scss */
.portfolio .works > * {
  display: inline-block;
  vertical-align: top;
}
/* line 358, ../scss/_main.scss */
.portfolio .works > li {
  width: 50%;
  padding: 0 20px;
  font: 16px/1.2 "Arial";
  margin-bottom: 40px;
}
/* line 364, ../scss/_main.scss */
.portfolio .works a {
  display: block;
  position: relative;
  overflow: hidden;
  color: #fff;
}
/* line 369, ../scss/_main.scss */
.portfolio .works a img {
  width: 100%;
  display: block;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 375, ../scss/_main.scss */
.portfolio .works a:hover img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
/* line 378, ../scss/_main.scss */
.portfolio .works a:hover .description-wrap {
  /* background: rgba(65,183,196,0.9); */
  opacity: 1;
}
/* line 383, ../scss/_main.scss */
.portfolio .works a:hover .description {
  opacity: 1;
}
/* line 388, ../scss/_main.scss */
.portfolio .works .description-wrap {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
}
/* line 401, ../scss/_main.scss */
.portfolio .works .description {
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* 
----------End Portfolio Section---------- */
/* 
----------Contacts Section---------- */
/* line 414, ../scss/_main.scss */
.contacts {
  background: url("../images/contacts_bg.jpg") fixed center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #fff;
  text-align: center;
}
/* line 419, ../scss/_main.scss */
.contacts h3 {
  font-size: 26px;
}
/* line 422, ../scss/_main.scss */
.contacts h3 + p {
  margin-bottom: 45px;
}
/* line 426, ../scss/_main.scss */
.contacts .row {
  margin-bottom: 20px;
}
/* line 429, ../scss/_main.scss */
.contacts .col3 {
  font: 18px/1.2 'open_sanssemibold';
}
/* line 431, ../scss/_main.scss */
.contacts .col3 i {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-bottom: 20px;
}
/* line 436, ../scss/_main.scss */
.contacts .col3 i img {
  width: 100%;
}

/* 
----------End Contacts Section---------- */
/* 
----------End Middle---------- */
/* 
----------Footer---------- */
/* line 449, ../scss/_main.scss */
.footer {
  text-align: center;
  background: #162a43;
  color: #fff;
  font-size: 14px;
  padding: 20px;
}
/* line 455, ../scss/_main.scss */
.footer p {
  padding: 2px 0;
}

/* 
---------- End Footer---------- */
/* 
----------Responsive---------- */
@media (max-width: 767px) {
  /* line 468, ../scss/_main.scss */
  .contacts .col3 {
    font-size: 16px;
  }
}
@media (max-width: 639px) {
  /* line 474, ../scss/_main.scss */
  .contacts .row {
    margin-bottom: 0;
  }
  /* line 477, ../scss/_main.scss */
  .contacts .col3 {
    width: 100%;
    float: none;
    width: 320px;
    margin: 0 auto 20px;
    font-size: 17px;
  }
  /* line 483, ../scss/_main.scss */
  .contacts .col3:last-child {
    margin-bottom: 0;
  }
  /* line 486, ../scss/_main.scss */
  .contacts .col3 i {
    margin: 0 15px 0 -40px;
    width: 26px;
    height: 26px;
    vertical-align: middle;
  }
  /* line 491, ../scss/_main.scss */
  .contacts .col3 i + p {
    display: inline-block;
    vertical-align: middle;
  }
}
@media (max-width: 479px) {
  /* line 500, ../scss/_main.scss */
  .contacts .col3 i {
    margin: 0 10px 0 -35px;
  }
}
/* @media (max-width:1279px){} */
