/* 
---------Variables--------- */

$files:					"../images/";
$grid-padding:			20px;
$f-height:				60px;

/* 
---------Colors--------- */
$light-grey:			#F5F6F7;
$light-blue:			#41B7C4;
$main-color:			#00305b;
$theme-color:			#162a43;
$el-color:				#50B75E/* #109D59 */;
$hover-el-color:		#50B75E-#111;
$el-red-color:			#E6230A/*#D38200 #bb2222 */;
$el-light-red-color:	#E6230A+#111;

$hover-el-red-color:	#E6230A+#111;


/* 
---------Mixins--------- */
@mixin list-inline(){
	list-style: none;
	li{
		display: inline-block;
		vertical-align: middle;
	}
}
@mixin bd-radius($radius){
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}